body {
    background-color: lightgrey;
}
nav {
    height: 50px;
    background-color:#CCCC;
}


p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -40PX;
    color: white;
}

section {
    border: 1px solid #CCC;
    background-color: white;
     width: 400px;
    height: 450px;
     padding:5px;
    border-radius: 3px;
    -webkit-margin: border radius 3%;
    -moz-margin: border radius 3%;
    margin: 50px auto;
}

<<<<<<< HEAD
input {
    margin-left: 35px;
    margin-top: 20px;
    width: 120;
    height: 40px;

    
}
=======
#key {
>>>>>>> 5966493dc3a80514f3fdb71073f4dbaae0b1f066

    width: 40px;
    height: 20px;
    padding: 5px;
    margin-top: -120px;
}

<<<<<<< HEAD
p {
    font-size: 14px;
    margin-left: 120px;
    margin-top: -20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#clave {

    margin-left: 160px;

    width: 10;
    height: 20px;
}

=======
input {
    width: 350px;
    height: 45px;
    padding: 0px 10px;
}

button {
    width: 70px;
    height: 35px;
    padding: 0px 10px;
   background-color: darkturquoise;
   color: white;
}
>>>>>>> 5966493dc3a80514f3fdb71073f4dbaae0b1f066
