*{
    margin: 0px;
    padding: 0px;
}


h1 {
    text-align: center;
}

h2 {
    text-align:justify;
}

h3 {
    text-align:center;
}

nav {
    height: 50px;
    margin: auto;
    background-color: #CCC
}
section {
    border: 1px solid #CCC;
    margin: auto;
    background-color: white;
     width: 400px;
    height: 500px;
    margin-left:480px;
    margin-top:1px;
    padding:1px;
}

